Regression is the supervised learning 
where the target variable is continuous in nature it is process of stabition relationship between 2 and more veriables to check for
the association between 2 variables views terms like co-varianceand co variation
co-veriance helps to understand if there is any relationship between 2 variables the value or co variance is between - infinity to infinity 
co variance does not tell how weak or strong the relationship between the 
there for instead of covariance used correlation which tells how weak  or  strong the relationship is
the value of relationship is 0 then it has no correlations and if the value is close to minus 1 +1 is strong correlation
the linear reggaet√≥n is the process of establishing the relation  between depended and independent variable 
the relationship linear in nature the goal is to create the best fit line using the formula 
Y=MX+C

M= {(x-x_)(y-y_)
----------------------------x
x_={(X-X_)
x=3 y_=3.6

x 	y	 x-X_ 	      y-Y_		(x-x_) (y-y_)	(x-X_)2
1	3	  -2			-2.6		
2	4	  -1			-1.6
3	2	  0			0.6
4	4	  1			1.6
5	5	   2			2.6
M= 0.4 
y_ = mx_+c
c=y_-mx_ = 2.4

x 	y	 ypred	ypred-y
1	3	 2.8		-0.2
2	4	  3.2		-0.8
3	2	 3.6		 1.6
4	4	  4		 0
5	5	  4.4		-0.6

MAE = ypred-y / N == 0.64
MSE = (ypred-y)2 /n ==  0.72
RMSE  = root of MSE == 0.84
RMSLE = 
R2 =  {(yp-y_)2/ {(y-y)2
ypred-y_)2  	  y-y_)2
0.64 		   0.36
0.16 	
0
0.16

Correlation value is given is R and the value correlation is between -1 to 1 so we take and hence the value lies o0 and 1 
therefore we can say R2 is difference between predicted and estimated value from the actual value 
the value of R2 closer to 1 says very good module while closer to 0 is a bad module

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns 

import warnings 
warnings.filterwarnings("ignore")

In [2]:
x=[1,2,3,4,5]
y=[3,4,2,4,5]

di={"X":x,"Y":y}
df=pd.DataFrame(di)
df

   X  Y
0  1  3
1  2  4
2  3  2
3  4  4
4  5  5

In [3]:
xmean=df["X"].mean()
ymean=df["Y"].mean()
print(xmean)
print(ymean)

3.0
3.6

In [4]:
# m= sum((df["X"].xmean)*(df["Y"].ymean))/sum((df["X"].xmean)**2)
m=0.4

In [5]:
c=ymean-m*xmean
c

2.4

In [6]:
def olsq(x):
    return (m*x+c)

In [7]:
ypred =list(map(olsq,df["X"]))

In [8]:
ypred

[2.8, 3.2, 3.6, 4.0, 4.4]

In [9]:
df["ypred"]=ypred

In [10]:
df

   X  Y  ypred
0  1  3    2.8
1  2  4    3.2
2  3  2    3.6
3  4  4    4.0
4  5  5    4.4

In [11]:
sns.scatterplot(data=df,x"X)

In [13]:
mae=sum(abs(df["Y"]-df["ypred"])/len(df["Y"]))
mae

0.6399999999999999

In [14]:
mse=sum(abs(df["Y"]-df["ypred"])**2/len(df["Y"]))
mse

0.7200000000000001

In [15]:
rmse= np.sqrt(mse)
rmse

0.8485281374238571

In [17]:
r2= sum((df["ypred"]-ymean)**2)/sum((df["Y"]-ymean)**2)
r2

0.3076923076923078